/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
*/
  --display-rec: block;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --text-color-button: var(--accent-color);
  --text-decor-color: #000028;
  --header-color: #db00ff;
  --main-font: 'IBM Plex mono';
  --color-content-title: var(--accent-color);
  --color-shadow: var(--accent-color);
  --line-hover:  rgb(255 0 112 / 0.4);
  --line-hover-border:  var(--accent-color);
  --bg-image: url(../images/cover-image-dark.png);
}

