/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color);
  font-family: var(--main-font, monospace);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-content);
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  margin-block-end: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.content-section {
  padding: 0 var(--content-padding);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: var(--min-height);
  padding: var(--content-padding);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--content-padding);
  right: var(--content-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--line-hover-border);
  border-right: 1px solid var(--line-hover-border);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--content-padding);
  left: var(--content-padding);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--line-hover-border);
  border-left: 1px solid var(--line-hover-border);
}

.rec {
  position: absolute;
  top: 10px;
  right: 39px;
  display: var(--display-rec);
  color: var(--accent-color);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.rec::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.title-header {
  color: var(--header-color);
  font-weight: var(--accent-font-weight);
  font-size: var(--title-font-size-mobile);
  line-height: clamp(5.1875rem, 6.8062rem + -1.2891vw, 5.98125rem);
  text-align: left;
  text-shadow: 4px 4px 0 var(--color-shadow);
}

.title-decor {
  height: fit-content;
  color: var(--text-decor-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  text-transform: lowercase;
  list-style: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 12px;
}

.header__theme-menu-button {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 2px 12px;
  color: var(--text-color-button);
  font-family: inherit;
  font-size: var(--main-font-size);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--line-hover);
  pointer-events: none;
}

.header__theme-menu-items:focus,
.header__theme-menu-button:focus,
a:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border-color: var(--line-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--line-hover-border);
  outline: none;
}

.header__paragraph {
  justify-self: end;
  align-self: center;
  font-weight: var(--accent-font-weight);
  text-align: left;
}

.content__title {
  margin-block-end: var(--content-max-padding);
  color: var(--color-content-title);
  font-size: var(--main-font-size);
}

.content_header {
  margin-block-end: 10px;
  font-weight: var(--accent-font-weight);
  font-size: var(--main-font-size);
}

.content__paragraph {
  text-align: left;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--color-shadow);
}

a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 0;
}

.content__paragraph a:hover {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: currentColor;
  outline: none;
}

.col-span-2 {
  grid-column: span 2;
}

.row-span-2 {
  grid-row: span 2;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section_addition {
  display: grid;
  gap: 20px;
}

.addition-padding {
  margin-block-start: -10px;
}

.section_gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: min-content;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: var(--min-height);
  margin: 0;
  padding: 0;
}

.footer-title {
  color: var(--header-color);
  font-weight: var(--accent-font-weight);
  font-size: var(--title-font-size-mobile);
  line-height: clamp(5.1875rem, 6.8062rem + -1.2891vw, 5.98125rem);
  text-shadow: 2px 2px 0 var(--color-shadow);
}

@media (min-width: 500px) {
  .rec {
    top: 20px;
    right: 48px;
  }

  .content__title {
    margin-inline-end: 10%;
  }

  .page {
    --title-font-size-mobile: var(--title-font-size-dekstop);
    --gap-content: 80px;
    --content-padding: 20px;
  }

  .title-header {
    margin-inline-start: -3%;
  }

  .header__paragraph {
    margin-inline-start: 50%;
  }

  .section {
    display: grid;
    grid-template-columns: 35% auto;
  }

  .section_gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(192px, auto);
    gap: 20px;
    margin-block-start: 10px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .page {
    --min-height: var(--max-height);
  }

  .content__section_addition {
    display: grid;
    gap: 20px;
    }
}

@media (min-width: 1000px) {
  .content__title {
    margin-inline-end: 0;
  }

  .page {
    --content-min-padding: var(--content-max-padding);
    --flex-direction: row;
    --min-height: var(--middle-height);
  }

  .header,
  .footer {
    --color-shadow: #FF0070;
  }

  .title-header {
    margin-inline-start: -2%;
    line-height: clamp(1.4625rem, -2.3511rem + 16.2712vw, 8.0625rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .section {
      grid-template-columns: 34% auto;
  }

  .content__section_addition {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
    }
}