/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --flex-direction: column;
  --display-rec: block;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --text-decor-color: #000028;
  --header-color: #db00ff;
  --main-font: 'IBM Plex mono';
  --accent-color: #FF0070;
  --color-content-title: var(--accent-color);
  --color-shadow: var(--accent-color);
  --accent-color-shadow: var(--accent-color);
  --text-color-button: var(--accent-color);
  --line-hover: rgb(255 0 112 / 0.4);
  --line-hover-border: var(--accent-color);
  --bg-image: url(../images/cover-image.png);
  --main-font-size: 18px;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --main-line-height: 1.2999em; /* 23.4px;*/
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-dekstop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --content-padding: 10px;
}

